* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #ede7e0;
  text-align: center;
  padding-top: 90px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  background-color: #f8f6f2;
  backdrop-filter: blur(5px);
  padding: 15px 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}


.logo img {
    height: 50px;
}

.page,.login {
    display: flex;
    gap: 20px;
}

.page a,
.login a {
    text-decoration: none;
    color: #4a3f35;
    font-weight: 500;
}

.page a:hover,
.login a:hover {
    color: #c27b48;
}

.login {
    margin-left: auto;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px; 
}

.hamburger span {
    width: 28px;
    height: 3px;
    background: rgb(11, 11, 11);
    border-radius: 2px;
}
   
.dropdown {
  display: none;
  flex-direction: column;
  background: #efe5e5;
  position: absolute;
  top: 100%; 
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px 0;
  z-index: 999;
}



.dropdown.show {
    display: flex;
}

.dropdown a {
    margin: 10px 0;
    color: #4a3f35;
    text-decoration: none;
}


#coffeeLoader {
  position: fixed;
  top: 50%;
  left: 50%;
  background: #fff4e6;
  padding: 20px 30px;
  border-radius: 10px;
  font-size: 22px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.feedback {
  background: #fff8f0;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 450px;
  height: auto;
  margin: 20px auto;
  margin-top: 70px;
}

.feedback button {
  background: #b58b63;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.feedback button:hover {
  background: #d2a679;
}


.mapandfeedback {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;

}

.feedback button {
  background: #412b17;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.feedback button:hover {
  background: #8a6b4c;
}

#map {
  width: 800px;
  height: 500px;
}

.feedback input {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
}

.feedback textarea {
  width: 90%;
  height: 80px;
  padding: 8px;
  margin-bottom: 10px;
}

#copyright {
  color: #f5eee6;
}

footer {
  background-color: rgb(35, 33, 33);
  width: 100%;
  height: auto;
 
}

@media (max-width: 650px) {

    .page,
    .login {
        display: none;
    }

    .hamburger {
        display: flex;
        margin-left: auto;
    }

    .header {
        padding: 15px 20px;
    }

    #map {
        width: 100%;
        height: auto;
    }
}
