
body {
    margin: 0;
    padding: 0;
    background-color: #f5efe6;
    color: #4b3a2f;
}


.header {
    background-color: #d6c2a8;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
    color: #4b3a2f;
}

#searchBar {
    padding: 10px;
    width: 180px;
    border-radius: 8px;
    border: 1px solid #b8a084;
    background-color: #f7f1e8;
    color: #4b3a2f;
}

.menu-grid {
    padding: 20px;
    display: grid;
    gap: 18px;
}

.section-heading {
    font-size: 28px;
    color: #4b3a2f;
    margin: 30px 10px 15px;
    font-weight: bold;
}


.section-block {
    display: flex;
    gap: 18px;
    flex-wrap: nowrap;             
    padding-bottom: 10px;
}

.item-card {
    background-color: #ede3d6;
    border: 1px solid #d1bda7;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    width: 220px;
    flex-shrink: 0;   
}

.item-card:hover {
    transform: scale(1.03);
}

.item-card img {
    width: 200px;
    height: 200px;
    border-radius: 10px;

}

.item-card h3 {
    margin: 12px 0 5px;
    color: #3e2f23;
    font-size: 20px;
}

.item-card p {
    margin: 5px 0 10px;
    font-size: 14px;
    color: #6b5647;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #4b3a2f;
    margin-bottom: 12px;
    display: block;
}

.footer {
    background-color: #eacca5;
    color: #5d493b;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.footer-logo {
    margin: 0;
    font-size: 26px;
    font-weight: bold;
}
