body{
    font-family: Arial;
  margin: 0;
  background: #d5b896;
  padding: 0;
  text-align: center;
  box-sizing: border-box;

}
/**Kinda**/
#studentLoginForm {

  padding: 20px;
  border-radius: 10px;
  width: 35%;
  height: 250px;
  margin: 20px auto;
  transition: transform 0.3s ease;
}

#studentLoginForm.pop {
  transform: scale(2);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  
 background-image: url("https://img.freepik.com/free-photo/cocoa-with-lights-cozy-winter-home-warm-background_501050-119.jpg?semt=ais_hybrid&w=740&q=80");
 background-size: cover;
}

#studentLoginForm input {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
}

#studentLoginForm button {
  padding: 8px 10px;
  margin-right: 5px;
  background: #6f4e37;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#studentLoginForm button:hover {
  background: #8b6147;
}
.offers{
  display: flex;
align-items:flex-start;
justify-content:flex-start;
gap: 20px;
flex-wrap: wrap;
margin: 20px;
}
.form{
  background-image: url("https://media.istockphoto.com/id/95380176/photo/fresh-croissant.jpg?s=612x612&w=0&k=20&c=WC9_MHOVAcCPF39ER4plI5yFmVhnO-bKqTeiXk3TKmM=");
  background-size: cover;

}

